<template>
  <div class="posts">
    <Post v-for="post in getPosts" :key="post.id" :post="post"/>
  </div>
</template>
<style lang="scss">
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45rem);
    grid-gap: 2rem;
    padding: 2rem;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }
</style>
<script>
// @ is an alias to /src
import Post from '@/components/Post.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'Home',
  components: {
    Post,
  },
  data() {
    return {
      posts: [],
    };
  },
  computed: {
    ...mapGetters({
      getPosts: 'getPosts',
    }),
  },
  async created() {
    await this.$store.dispatch('getAllPosts');
  },
};
</script>
