<template>
  <div class="post">
    <div class="post__preview">
      <img class="post__image" :src="getImgUrl" :alt="post.name" />
      <div class="post__tag tag">
        <div class="tag__text">
          #{{ post.tag }}
        </div>
      </div>
    </div>
    <div class="post__body">
      <div class="post__title">
        {{ post.name }}
      </div>
      <div class="post__text">
        {{ post.description }}
      </div>
      <div class="post__meta">
        <div class="post__date">
          {{ post.date }}
        </div>
        <div class="post__like like">
          <div @click="toggleLike" :class="['like__trig', {'like__trig--act' : active}]">
          </div>
          <div class="like__count">
            {{ post.like }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: {
    post: Object,
  },
  data() {
    return {
      like: null,
      active: false,
    };
  },
  watch: {},
  computed: {
    getImgUrl() {
      return `https://picsum.photos/id/${this.post.image}/430/250`;
    },
  },
  methods: {
    toggleLike() {
      this.active = !this.active;
      if (this.active) {
        this.like += 1;
      } else {
        this.like -= 1;
      }
      this.updateLike();
    },
    updateLike() {
      const post = {
        ...this.post,
        like: this.like,
        voted: this.active,
      };
      this.$store.dispatch('sendLike', post);
    },
  },
  mounted() {
    this.like = +this.post.like;
    this.active = this.post.voted;
  },
};
</script>

<style lang="scss">
$postBg: #ffffff;
$postBorderRadius: 4px;
$postPadding: 1rem;
$postSize: 45rem;
$postTagBg: rgba(141, 190, 80, 0.5);
$postTextColor: #666565;
$postMetaColor: #909599;

.post {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
  max-width: $postSize;
  height: $postSize;
  box-sizing: border-box;
  padding: $postPadding;
  border-radius: $postBorderRadius;
  background: $postBg;
  &__preview {
    position: relative;
    flex: 0 0 50%;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      opacity: 0.5;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
  }
  &__tag {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
  &__body {
    flex: 0 0 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
  }
  &__title {
    margin: 2rem 0;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
  }
  &__text {
    margin: 2.5rem 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $postTextColor;
  }
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    color: $postMetaColor
  }
  &__date {
    font-style: italic;
  }
  @media screen and (max-width: 600px) {
    max-width: 100%;
    margin: 1rem auto;
  }
}

.tag {
  padding: 7px 11px;
  border-radius: $postBorderRadius;
  overflow: hidden;
  background: $postTagBg;
    &__text {
      font-size: 1.5rem;
      line-height: 1.9rem;
      color: white;
    }
  }

.like {
  display: flex;
  align-items: center;
  &__trig {
    width: 1.5rem;
    height: 1.3rem;
    margin-right: 0.5rem;
    background: url("../assets/Like.svg") 0 0 no-repeat;
    filter: grayscale(100);
    background-size: cover;
    cursor: pointer;
    &--act {
      filter: none;
    }
  }
}
</style>
